
body{
	color:white;
	font-family:'Lato';
}
header{
	min-height: 80px;
	background-color: rgb(45,62,79);
}

header h1{
	float: left;
	margin-left:70px;

}
header ul {
	float: right;
	text-decoration: none;  
	margin-right: 10%;
	vertical-align: text-bottom;	
    padding-top: 1%;
}

header ul li{	
	display: inline;
	margin: 0 15px 0 15px;

}
header li a {
	color:white;
	text-decoration: none;  
}

#header, .nombre, .social, .address, .contactme, .portfolio, .aboutme{
	text-transform: uppercase;
}

/*===================================fin header====================================*/
#presentacion, #portfolio{
	padding: 60px 0 60px 0;
}

#presentacion{
	min-height: 300px;
	text-align: center;
	background-color: rgb(40,187,156);
	
}

.line{
font-size:20px;
vertical-align: text-top;
margin-top: 10px;
margin-bottom: 10px;

}
.nombre{
	font-size: 50px;	
    margin-top: 10px;
    margin-bottom: 10px;
}

.icono, .categoria{
	font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#portfolio{
text-align: center;
	color:black;
}
.portfolio {
	font-size: 30px;
	padding-top:30px;
	text-align: center;
	color:black;
}
.portfolio .icono {

	text-align: center;
	color:black;
}
table{
	padding-left: 10%;
	padding-right: 10%;
}
table td{

	border:10px solid white;
}
table img{
	height: 30%;
	width: 100%;
	
	
}
/*==========about me=============*/
#aboutme{	
	min-height: 400px;
	text-align: center;
	background-color: rgb(40,187,156);
	padding-top: 60px;
	
}
.text-container{


	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 100px;

}
.left{
	text-align: left;
	width: 49%;
	float: left;
	
}
.right{

	text-align: left;
	width: 49%;
	float: right;
}
.boton{
	padding-top: 50px;
	text-align: center;

}

.boton button{
	color:#FFF;
	background:rgb(40,187,156);
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	padding:15px 15px;
}

aside{
/*	padding: 70px 20px 70px 20px;*/
	padding-top: 20px;
	min-height: 200px;
	background-color: rgb(45,62,79);
}
.footer-info{

	margin-left: 100px;
	margin-right: 100px;
}
.address{ 

	width: 20%; 
	float: left;
	text-align: center;
}

.social{ 
	margin: auto;	
	width: 60%; 
	float: left;
	text-align: center;
	
}
.social  ul li{
	
	display: inline;
	margin: 0 5px 0 5px;

}

.contactme{ 
	text-align: center;
	width: 20%; 
	float: right;
}
.contactme a{
	text-transform: lowercase;
	color:rgb(40,187,156);;
	text-decoration: none;
} 
footer{
	clear: both;
}
.copyright p{
	margin:0;
	padding-top: 5px;
	height:30px;
	background-color: #435466;
	text-align:center;
	
}
